In [1]:
import pandas as pd

In [2]:
txt_path = "问题正负的映射.txt"
# 使用pandas read_csv函数读取txt文件，指定分隔符为'|'，并跳过第一行（表头行下方的分隔符行）
df = pd.read_csv(txt_path, sep='|', skiprows=1)

# 去掉可能的首尾空格
df.columns = [col.strip() for col in df.columns]
df = df.applymap(lambda x: x.strip() if isinstance(x, str) else x)
df = df.drop(columns=['Unnamed: 0','Unnamed: 4',':----.1'])

# 重命名列
df = df.rename(columns={':---': 'label', ':----': 'phrased'})

df

    label phrased
0    EXT1       P
1    EXT2       N
2    EXT3       P
3    EXT4       N
4    EXT5       P
5    EXT6       N
6    EXT7       P
7    EXT8       N
8    EXT9       P
9   EXT10       N
10   EST1       P
11   EST2       N
12   EST3       P
13   EST4       N
14   EST5       P
15   EST6       P
16   EST7       P
17   EST8       P
18   EST9       P
19  EST10       P
20   AGR1       N
21   AGR2       P
22   AGR3       N
23   AGR4       P
24   AGR5       N
25   AGR6       P
26   AGR7       N
27   AGR8       P
28   AGR9       P
29  AGR10       P
30   CSN1       P
31   CSN2       N
32   CSN3       P
33   CSN4       N
34   CSN5       P
35   CSN6       N
36   CSN7       P
37   CSN8       N
38   CSN9       P
39  CSN10       P
40   OPN1       P
41   OPN2       N
42   OPN3       P
43   OPN4       N
44   OPN5       P
45   OPN6       N
46   OPN7       P
47   OPN8       P
48   OPN9       P
49  OPN10       P

In [3]:
data_path = 'data-final.csv'

df1 = pd.read_csv(data_path, delimiter='\t')
print(df1.columns)

Index(['EXT1', 'EXT2', 'EXT3', 'EXT4', 'EXT5', 'EXT6', 'EXT7', 'EXT8', 'EXT9',
       'EXT10',
       ...
       'dateload', 'screenw', 'screenh', 'introelapse', 'testelapse',
       'endelapse', 'IPC', 'country', 'lat_appx_lots_of_err',
       'long_appx_lots_of_err'],
      dtype='object', length=110)

In [4]:
# 创建映射函数
def map_values(row, label_phrased_dict):
    for label, phrased in label_phrased_dict.items():
        if phrased == 'N':
            row[label] = 6 - row[label]
    return row

# 创建 label-phrased 映射字典
label_phrased_dict = dict(zip(df['label'], df['phrased']))

# 对 df1 应用映射
df2 = df1.apply(lambda row: map_values(row, label_phrased_dict), axis=1)

df2

,EXT1,EXT2,EXT3,EXT4,EXT5,EXT6,EXT7,EXT8,EXT9,EXT10,...,dateload,screenw,screenh,introelapse,testelapse,endelapse,IPC,country,lat_appx_lots_of_err,long_appx_lots_of_err
0,4.0,5.0,5.0,4.0,5.0,5.0,5.0,4.0,4.0,5.0,...,2016-03-03 02:01:01,768.0,1024.0,9.0,234.0,6,1,GB,51.5448,0.1991
1,3.0,1.0,3.0,2.0,3.0,3.0,2.0,1.0,1.0,1.0,...,2016-03-03 02:01:20,1360.0,768.0,12.0,179.0,11,1,MY,3.1698,101.706
2,2.0,3.0,4.0,2.0,3.0,4.0,1.0,3.0,2.0,1.0,...,2016-03-03 02:01:56,1366.0,768.0,3.0,186.0,7,1,GB,54.9119,-1.3833
3,2.0,4.0,2.0,3.0,4.0,4.0,2.0,2.0,1.0,2.0,...,2016-03-03 02:02:02,1920.0,1200.0,186.0,219.0,7,1,GB,51.75,-1.25
4,3.0,3.0,3.0,3.0,5.0,3.0,3.0,1.0,3.0,2.0,...,2016-03-03 02:02:57,1366.0,768.0,8.0,315.0,17,2,KE,1.0,38.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1015336,4.0,4.0,4.0,3.0,4.0,3.0,3.0,3.0,3.0,3.0,...,2018-11-08 12:04:58,1920.0,1080.0,3.0,160.0,10,2,US,39.9883,-75.2208
1015337,4.0,3.0,4.0,3.0,3.0,3.0,4.0,2.0,3.0,3.0,...,2018-11-08 12:07:18,1920.0,1080.0,3.0,122.0,7,1,US,38.0,-97.0
1015338,4.0,4.0,4.0,3.0,5.0,5.0,4.0,4.0,4.0,2.0,...,2018-11-08 12:07:49,1920.0,1080.0,2.0,135.0,12,6,US,36.1473,-86.777
1015339,2.0,2.0,3.0,2.0,2.0,4.0,1.0,2.0,2.0,2.0,...,2018-11-08 12:08:34,1920.0,1080.0,6.0,212.0,8,1,US,34.1067,-117.8067
1015340,4.0,4.0,4.0,4.0,4.0,5.0,4.0,4.0,4.0,2.0,...,2018-11-08 12:08:45,1920.0,1080.0,3.0,176.0,9,1,US,38.0,-97.0

In [8]:
df2.to_csv('data-final_修正版.csv')